$border-radius: 0.8em;

.inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.outside {
  position: relative;
  height: 100%;
  background-color: lightgrey;
  border-radius: $border-radius;
  box-sizing: border-box;
  overflow: hidden;
}

.childeren {
  padding: 1em;
}

.outlet {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.header {
  padding: 1em;
  margin: 0 auto;
  width: fit-content;
}

.divider {
  position: relative;
  width: 100%;
  height: calc(2em + 40px);
  background-color: white;
}

.dividerCornerTopLeft::before,
.dividerCornerTopRight::before,
.dividerCornerBottomRight::before,
.dividerCornerBottomLeft::before {
  content: "";
  position: absolute;
  height: $border-radius * 2;
  width: $border-radius * 2;
  background-color: transparent;
}

.dividerCornerTopRight::before,
.dividerCornerBottomRight::before {
  right: 0;
}

.dividerCornerBottomRight::before,
.dividerCornerBottomLeft::before {
  bottom: -$border-radius * 2;
  box-shadow: 0 (-$border-radius) 0 0 white;
}

.dividerCornerTopRight::before,
.dividerCornerTopLeft::before {
  top: -$border-radius * 2;
  box-shadow: 0 $border-radius 0 0 white;
}

.dividerCornerTopLeft::before,
.dividerCornerBottomLeft::before {
  left: 0;
}

.dividerCornerTopRight::before {
  border-bottom-right-radius: $border-radius;
}

.dividerCornerBottomRight::before {
  border-top-right-radius: $border-radius;
}

.dividerCornerTopLeft::before {
  border-bottom-left-radius: $border-radius;
}

.dividerCornerBottomLeft::before {
  border-top-left-radius: $border-radius;
}