@use "variables" as *;


.backgroundPlaceHolder {
  width: 100%;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $small-gap;
}

.backgroundBorder {
  width: 100%;
  height: 100vh;
  padding: $default-gap;
  position: relative;
  background-color: white;
}

.placeholder {
  min-width: 33.33%;
  background-color: white;
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  top: 30%;
  border-radius: 0 $small-gap $small-gap 0;
}

.placeholder-text {
  padding: $normal-gap;
  position: relative;
}


.placeholder-text:before {
  content: "";
  position: absolute;
  
  background-color: transparent;
  left: 0;
  top: -$small-gap;
  height: $small-gap;
  width: $large-gap;
  border-top-left-radius: $small-gap;
  box-shadow: 0 -$small-gap 0 0 #fff;
  transform: scale(1, -1);
}

.placeholder-text:after {
  content: "";
  position: absolute;
  
  background-color: transparent;
  left: 0;
  bottom: -$small-gap;
  height: $small-gap;
  width: $large-gap;
  border-top-left-radius: $small-gap;
  box-shadow: 0 -$small-gap 0 0 #fff;
}

// .placeholder-text:after,
// .placeholder-text:before{
//     content:'';
//     width:$small-gap;
//     height:$small-gap;
//     border:$small-gap solid purple;
//     position:absolute;
//     left: -$small-gap;
// }
// .placeholder-text:after{
//     border-left:0;
//     border-bottom: 0;
//     border-radius: 0 $small-gap 0 0;
//     top: -0.5rem;
// }

// .placeholder-text:before{
//     border-right:0;
//     border-radius: 0 0 0 $small-gap;
//     bottom: 0;
//     left: 0;
// }